@model todolist.Models.datatodo

@{
    ViewData["Title"] = "YeniKayit";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<br />
<br />
<br />

<form class="form-group" method ="post">

    <b>Yeni Bir Görev Ekle</b>
    <br />
    @Html.TextAreaFor(x=>x.Donote, new {@class= "form-control"})
    <br />
    <b>Tarih</b>
    <br />
    @Html.EditorFor(x => x.Datetime, new { htmlAttributes = new { @class = "form-control" } })
<script>
  $( function() {
      $("#Date").datepicker({ dateFormat:"dd / mm / yy"});
  } );
</script>
    <br />
    <button class="btn btn-info">Yeni Kayıt Ekle</button>

</form>

